{{ define "main" }}
<main>
	<h1 class="title">Philip Conrad</h1>
	<hr />
	<p>Hi there! I’m Philip Conrad.</p>
	<p>This page is a list of all the things I’ve written on this blog. I like to write about programming and
		related technical topics.</p>

	<div class="listing">
		{{- range (where .Site.RegularPages "Type" "posts" ).GroupByDate "2006" -}}
		<h3 style="font-weight: bold; text-decoration: none;"> {{ .Key }} </h3>
		<ul>
			{{- range .Pages }}
			{{ partial "post-link.html" . }}
			{{- end -}}
		</ul>
		{{- end -}}
	</div>
</main>
{{/*
{{ partial "sidebar.html" . }}
*/}}
{{ end }}